<%= form_with(model: whatever_chat, local: true) do |form| %>
  <% if whatever_chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whatever_chat.errors.count, "error") %> prohibited this whatever_chat from being saved:</h2>

      <ul>
        <% whatever_chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :to_user_id %>
    <%= form.collection_select :to_user_id, User.all, :id, :username %>
  </div>

  <div class="field">
    <%= form.label :from_user_id %>
    <%= form.text_field :from_user_id %>
  </div>

  <div class="field">
    <%= form.label :alias %>
    <%= form.text_field :alias %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
