<%= form_with(model: whatever_chat, local: true) do |form| %>
  <% if whatever_chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whatever_chat.errors.count, "error") %> prohibited this whatever_chat from being saved:</h2>

      <ul>
        <% whatever_chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, {class: "form-control", required: "", autofocus: ""} %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, {class: "form-control", rows: "8", required: ""} %>
  </div>

  <% if !@current_user.nil? %>
  <div class="form-group">
    <%= form.label :to_user_id %>
    <%= form.collection_select :to_user_id, User.all, :id, :username, {}, {class: "form-control"} %>
  </div>
  <% end %>

  <% if @current_user.nil? %>
    <div class="form-group">
      <%= form.label :alias %>
      <%= form.text_field :alias, {class: "form-control", required: ""} %>
  </div>
  <% end %>

  <%= form.submit "Create Chat", {class: "btn btn-primary float-right"}  %>
<% end %>
