
  <style>
/* Pattern styles */
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document"> <!-- form-new-whateverchat -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Whatever Chat</h5>
          <!-- h1 class="h3 mb-3 font-weight-normal">New Whatever Chat</h1 -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'form', whatever_chat: @whatever_chat %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document"> <!-- form-new-whateverchat -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Ad</h5>
          <!-- h1 class="h3 mb-3 font-weight-normal">New Whatever Chat</h1 -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render '/ads/form', ad: Ad.new %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'application' %>
<div class="chat-backdrop flex-column" style="justify-content: flex-start">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
    <a class="navbar-brand" href="/whatever">Whatever Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% unless @current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'Profile', '/from/'+@current_user.username.to_s, {class: "nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to 'Private Messages', '/to_me', {class: "nav-link"} %>
          </li>
          <li class="nav-item" data-toggle="modal" data-target="#adModal" style="cursor: pointer;">
            <a class="nav-link">Post Ad</a>
          </li>
        <% end %>
      </ul>

      <% if @current_user.nil? %>
        <%= link_to 'Home', '/', {class: "btn btn-outline-secondary my-2 my-sm-0"} %>
      <% else %>
        <%= link_to 'Logout', '/logout', {class: "btn btn-outline-secondary my-2 my-sm-0"} %>
      <% end %>
    </div>
  </nav>


  <section class="d-flex w-100">
  <div class="left-half flex-grow-1">


    <% cache_if @current_user.nil?, @whatever_chats do %>


    <div class="flex-column chat-list" style="align-items: flex-start; width: 50%; margin: 0 auto;">
      <p id="notice">
        <%= notice %>
      </p>
      
      <!-- <%= link_to 'New Whatever Chat', new_whatever_chat_path, {class: "btn btn-lg btn-primary btn-block text-white mb-3"} %> -->

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-lg btn-primary btn-block mb-3" data-toggle="modal" data-target="#exampleModal">
        New Whatever Chat
      </button>

    <% @whatever_chats.each do |whatever_chat| %>



    <% if whatever_chat.to_user_id == "0" %>
        <div class="card border-secondary mb-3">
          <div class="card-header">
            <h5 class="card-title">
            <a href="/whatever_chats/<%= whatever_chat.id%>" >
            <%= whatever_chat.title %>
            </a>
            </h5>
            <div class="row">
            <div class="col-xl-6">
              <h4 class="card-subtitle sm-2 text-muted">By :
              <span class="badge badge-info" >
             
                <%= whatever_chat.from_user_id.nil? ? whatever_chat.alias :
                    react_component("UserAvatar", { username: whatever_chat.from_user_id }, { prerender: false }) %>

                <% if whatever_chat.original_id != 0 %>
                  Reposted, see <%= link_to 'Original', '/whatever_chats/' + whatever_chat.original_id.to_s %>
                <% end %>

              </span></h4>
            </div>
                <div class="col-xl-6">
                <h4 class="card-subtitle sm-2 text-muted pull-right">Posted : <span class="badge badge-info">
                <% time_since = DateTime.now.to_time.to_i - whatever_chat.updated_at.to_time.to_i%>
                <% if time_since < 60 %>
                <%= time_since.to_s + " seconds ago" %>
                <% elsif (time_since / 60) < 60 %>
                <%= (time_since / 60).to_i.to_s + " minutes ago" %>
                <% elsif (time_since / 3600) < 24 %>
                <%= (time_since / 3600).to_i.to_s + " hours ago" %>
                <% elsif (time_since / 3600 / 24) < 365 %>
                <%= (time_since / 3600 / 24).to_i.to_s + " days ago" %>
                <% else %>
                <%= (time_since / 3600 / 24 / 365).to_i.to_s + " years ago" %>
                <% end %>
                </span></h4>
                </div>
              </div>
            </div>
          <div class="card-body">
            <p class="card-text"><%= whatever_chat.body %></p>
          </div>
          <div class="card-footer text-muted">
            <%= react_component("Vote",
              { username: @current_user.nil? ? 'Global' : @current_user.username,
                postid: whatever_chat.id,
                status: whatever_chat.status,
                up: whatever_chat.up_vote,
                down: whatever_chat.down_vote,
              },
              {class: "mx-2"}
            ) %>
            <div class="d-flex">
              <div class="d-flex flex-even">
                <a href="/whatever_chats/<%= whatever_chat.id%>" class="btn btn-info btn-sm d-inline-block flex-even mx-2">
                  view comments <span class="badge badge-light"><%= whatever_chat.comments.size %></span>
                </a>
              </div>
              <%= react_component("Retwitte",
                { username: case @current_user
                            when nil
                              'Global'
                            else
                              @current_user.username
                            end,
                  postid: whatever_chat.id
                },
                {class: "d-flex flex-even"}
              ) %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <% end %>>

  </div>
  <div class="right-half" style="max-width: 30%">
    <div class="card">
      <h5 class="card-header">We hate ads too, but we love our advertisers' money more.</h5>
      <div class="card-body">
        <div class="polaroid">
          <img style="width: 100%" src="/ads/<%= @ad1_id%>/serve">
        </div>
      </div>
    </div>
    <div class="card">
    <div class="card-body">
    <div class="polaroid">
    <img style="width: 100%" src="/ads/<%= @ad2_id%>/serve">
    </div>
    </div>
    </div>
  </div>
  </section>
  <%= will_paginate @whatever_chats %>
</div>

