<p id="notice"><%= notice %></p>

<h1>Whatever Chats</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whatever_chats.each do |whatever_chat| %>
      <tr>
        <td><%= link_to 'Show', whatever_chat %></td>
        <td><%= link_to 'Edit', edit_whatever_chat_path(whatever_chat) %></td>
        <td><%= link_to 'Destroy', whatever_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whatever Chat', new_whatever_chat_path %>
