<div class="chat-backdrop flex-column" style="justify-content: flex-start">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
    <a class="navbar-brand" href="#">Whatever Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% unless @current_user.nil? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Profile', '/from/'+@current_user.id.to_s, {class: "nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to 'Private Messages', '/to_me', {class: "nav-link"} %>
          </li>
        </ul>

        <% if @current_user.nil? %>
          <%= link_to 'Home', '/', {class: "btn btn-outline-secondary my-2 my-sm-0"} %>
        <% else %>
          <%= link_to 'Logout', '/logout', {class: "btn btn-outline-secondary my-2 my-sm-0"} %>
        <% end %>
      </div>
    <% end %>
  </nav>

  <div class="flex-column chat-list" style="align-items: flex-start">
    <p id="notice">
      <%= notice %>
    </p>
    <%= link_to 'New Whatever Chat', new_whatever_chat_path, {class: "btn btn-lg btn-primary btn-block text-white mb-3"} %>

    <% @whatever_chats.each do |whatever_chat| %>
      <% if whatever_chat.to_user_id == "0" %>
        <div class="card border-secondary mb-3">
          <div class="card-header">
            <h5 class="card-title"><%= whatever_chat.title %></h5>
            <div class="row">
            <div class="col-xl-6">
              <h4 class="card-subtitle sm-2 text-muted">By : <span class="badge badge-info">
              <%= whatever_chat.from_user_id.nil? ? whatever_chat.alias : whatever_chat.from_user_id %>
              </span></h4>
              </div>
              <div class="col-xl-6">
              <h4 class="card-subtitle sm-2 text-muted pull-right">At : <span class="badge badge-info">
              <%= whatever_chat.updated_at.strftime("%d %b %Y") %>
              </span></h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= whatever_chat.body %></p>
          </div>
          <div class="card-footer text-muted">
            <a href="/whatever_chats/<%= whatever_chat.id%>" class="btn btn-primary btn-sm">View Post</a>
            <button type="button" class="btn btn-info btn-sm">
            Comments <span class="badge badge-light"><%= whatever_chat.comments.count() %></span>
          </button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
