<p id="notice"><%= notice %></p>

<h2> Title : <%= @whatever_chat.title %> </h2> By : </h3> <%= @whatever_chat.alias %> </h3>

<h4> Body : <%= @whatever_chat.body %> </h4>

<%= link_to 'Edit', edit_whatever_chat_path(@whatever_chat) %> |
<%= link_to 'Back', whatever_chats_path %>
<% unless @comments.nil? %>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <% if whatever_chat.id == comment.postid %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= link_to 'Show', whatever_chat %></td>
          <td><%= link_to 'Edit', edit_whatever_chat_path(whatever_chat) %></td>
          <td><%= link_to 'Destroy', whatever_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= button_to 'Show Comments', whatever_chat, method: :show%></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= form_with(method: "post_comment") do %>
  <%= label_tag(:q, "Comment:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Post Comment") %>
<% end %>
