<p id="notice"><%= notice %></p>

<h2> Title : <%= @whatever_chat.title %> </h2>
By : </h3>
<%= @nameToDisplay %>
</h3>

<h4> Body : <%= @whatever_chat.body %> </h4>

<%= link_to 'Edit', edit_whatever_chat_path(@whatever_chat) %> |
<%= link_to 'Back', whatever_chats_path %>
</br></br></br>
<% unless @comments.nil? %>
    <h5> Comments </h5>
      <% @comments.each do |comment| %>
          <%= comment.body %> - <span class="badge badge-info">
          <%= User.find(comment.userid).username %>
          </span>
          </br></br>
      <% end %>
<% end %>

<%= form_with(method: "post_comment") do %>
  <%= label_tag(:commentBody, "Comment:") %>
  <%= text_field_tag(:commentBody) %>
  <%= submit_tag("Post Comment") %>
<% end %>
